<!doctype html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          type="text/javascript"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="static/css/home.css">
  <script type="text/javascript" src="static/js/index.js"></script>

  <title>Pi CPanel</title>
</head>
<body>
  {% if name %}
  <h1>Hello {{ name }}!</h1>
  {% else %}
  <h1>Hello, World!</h1>
  {% endif %}
  <div id="cmdContainer">
    <form action="./cmd" method="GET">
      <select name="command" id="cmdOption">
        <option value="shutdown">Shutdown!</option>
        <option value="reboot">Reboot</option>
        <option value="uptime">Uptime</option>
      </select>
      <input type="submit" value="Execute" id="cmdSubmit"/>
    </form>
    <div id="result"></div>
  </div>

  <div id="tempContainer">
    <span><span id="temp"></span></span>
  </div>

  <div id="playLinkContainer">
    <form action="./play_link" method="POST">
      <input type="text" id="playLink"/>
      <input type="submit" value="Play" id="playBtn"/>
    </form>
    <input type="button" value="||" id="play-pause"/>
  </div>
</body>
